<!DOCTYPE html>{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crear user</title>
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{% static 'Bootstrap/bootstrap.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'Bootstrap/bootstrap.js'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'login_css/style.css' %}">
</head>
<body>

<section class="vh-100 gradient-custom">
  <div class="container py-0 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-10 col-md-7 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-3 text-center">
            <form  method="POST">
              {% csrf_token %}
              <div class="mb-md-5 mt-md-4 pb-0">
              <h2 class="fw-bold mb-4 text-uppercase">-->CREA TU USUARIO<--</h2>

              <div class="form-outline form-white mb-4">
                <input type="email" id="email" class="form-control form-control-lg" name="email" />
                <label class="form-label" for="email">Email</label>
              </div>

              <div class="form-outline form-white mb-4">
                <input type="password" id="password" class="form-control form-control-lg" name="password" id="password" />
                <label class="form-label" for="password">Password</label>
              </div>
                <div class="form-outline form-white mb-4">
                <input type="password" id="password2" class="form-control form-control-lg" name="password2" id="password2" />
                <label class="form-label" for="password2">Confirmacion Password</label>
              </div>

              <button class="btn btn-outline-light btn-lg px-5" type="submit">CREAR</button>

            </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>