<!DOCTYPE html>{% load static  %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cambiar password</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'Bootstrap/bootstrap.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'Bootstrap/bootstrap.js'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'login_css/style.css' %}">
</head>
<body>

<section class="vh-100 gradient-custom">
{% include 'admin_html/nav.html' %}
<h1 style="font-size:200%; margin: 15px;color: white; font-family: Arial, sans-serif; ">Cambiar password de usuario:</h1>
<form  method="POST">
              {% csrf_token %}
    <div>
    <label  style="font-size:125%; margin: 15px; color: white; font-family: Arial, sans-serif; "
            for="email">Ingresa el email del usuario:</label>
    <input type="email" id="email" name="email" required>

    <label  style="C margin: 15px; color: white; font-family: Arial, sans-serif; "
            for="password">Ingresa la nueva password del usuario:</label>
    <input type="password" id="password" name="password" required>
  </div>
    <button onclick="mostrarAlerta()" style="font-size:110%; ; margin: 15px;font-family: Arial, sans-serif; "
            type="submit">Actualizar</button>
</form>
</section>
<script>
function mostrarAlerta() {
    var email = document.getElementById('email').value;

     alert("La Password se cambio correctamente de:"+email);

}
</script>
</body>
</html>